<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Discover the cosmos! Each day a different image or photograph of our
    fascinating universe is featured, along with a brief explanation written
    by a professional astronomer." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>Astronomy Picture Of the Day</title>
  </head>
  <body class="text-white bg-slate-800">
    <slot />
  </body>

  <style is:global>
    @font-face{ 
        font-family: "Inter";
        src: url("Inter-Medium.woff2");
        font-weight:400;
        font-style:normal;
      }
      @font-face{
        font-family: "Inter";
        src: url("Inter-SemiBold.woff2");
        font-weight:500;
        font-style:normal;
      }
      @font-face{ 
        font-family: "Inter";
        src: url("Inter-Bold.woff2");
        font-weight:700;
        font-style:normal;
      }

    body {
      font-family: "Inter";
    }

    * {
      -webkit-tap-highlight-color: transparent;
    }

    * {
      scrollbar-width: thin;
      scrollbar-color: #303030 #666464;
    }

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
      width: 12px;
    }

    *::-webkit-scrollbar-track {
      background: rgb(20 20 20);
    }

    *::-webkit-scrollbar-thumb {
      background-color: #282828;
      border-radius: 4px;
    }

    *::-webkit-scrollbar-thumb:hover {
      background: #303030;
    }
  </style>
</html>
