<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>Astronomy Picture Of the Day</title>
  </head>
  <body class="text-white bg-slate-800">
    <slot />
  </body>

  <style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

    * {
      -webkit-tap-highlight-color: transparent;
    }

    body {
      font-family: "Poppins";
    }

    * {
      scrollbar-width: thin;
      scrollbar-color: #303030 #666464;
    }

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
      width: 12px;
    }

    *::-webkit-scrollbar-track {
      background: rgb(20 20 20);
    }

    *::-webkit-scrollbar-thumb {
      background-color: #282828;
      border-radius: 4px;
    }

    *::-webkit-scrollbar-thumb:hover {
      background: #303030;
    }
  </style>
</html>
